@import "../../Variables";
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 1.5em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  z-index: 1000;
  .modalToolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      font-size: 1.1em;
    }
    .closeBtn {
      width: max-content;
      margin-left: auto;
      border: none;
      background-color: transparent;
    }
  }
}

.deleteModal {
  display: flex;
  flex-direction: column;
  .buttons {
    display: flex;
    margin-top: 1.2em;
    flex-direction: row;
    justify-content: end;
    .cancelBtn {
      border: none;
      background-color: transparent;
      color: $accent-color;
      margin-right: 1em;
      transition: border-bottom 2s ease;
      &:hover {
        border-bottom: thin solid $accent-color;
      }
    }
    .deleteBtn {
      @include btn-primary($color: $error-color)
    }
  }
}

.overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: #00000070;
  z-index: 1000;
}